@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  background-color: #e2e2e2;
  text-align: center;
}

a {
  color: #0074d9;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #fff;
  background-color: #0074d9;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
}

.planet {
  background-color: #0074d9;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .header {
    text-align: left;
  }

}
